body {
  background-color: lavenderblush;
  font-family: verdana;
  color: #000000;
}
.logo {
  background-color: #ffbfbf;
  padding: 15px;
  text-align: center;
}
.foot {
  background-color:#ffbfbf;
  text-align:center;
  padding:10px;
  margin-top:7px;
}
input {
  width:100%;
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 0;
  box-shadow:0 0 10px 2px rgba(245, 40, 145, 0.2);
}
textarea {
  min-height: 10rem;
}
.message {
    min-height: 10rem;

}
* {
  box-sizing: border-box;
}

.menu {
  float: left;
  width: 20%;
  text-align: center;
}

.menu a {
  background-color: #ffab9b;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: blue;
}

.main {
  float: left;
  width: 60%;
  padding: 0 20px;
}

.right {
  background-color: #ffab9b;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}
 a:link {
         color:  #cf2386;
         
         text-decoration: none;
      }
 a:visited {
         color:   #96199d;
        
         text-decoration: none;
      }
  a:active {
         color: yellow;
         
      }
  a:hover {
         color:  #fa5cab;
          text-decoration: none;
      }
.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

