body {
  background-color: #ffbfbf;
}
.logo {
  background-color: #ffbfbf ;
  padding: 15px;
  text-align: center;
}
h1 {
  color: black;
  text-align:center;
  font-family: courier;
  font-size: 160%;
}
h2 {
  color: black;
  text-align:center;
  font-family: courier;
  font-size: 140%;
}
h3 {
  color: black;
  text-align:center;
  font-family: courier;
  font-size: 120%;
}

p {
  border: 2px solid white;
  padding: 30px;
  margin: 50px;
  color: black;
  background-color: lavenderblush;
}

a:link {
         color:  #cf2386;
         
         text-decoration: none;
      }
 a:visited {
         color:   #96199d;
        
         text-decoration: none;
      }
  a:active {
         color: yellow;
         
      }
  a:hover {
         color:  #fa5cab;
          text-decoration: none;
      }
.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}
@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}